<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.2" targetFramework="net452" />
  <package id="Lloyds.LAF.Agent.Restricted" version="2.0.23" targetFramework="net452" />
  <package id="Lloyds.LAF.Client" version="2.0.0.4" targetFramework="net452" />
  <package id="Lloyds.LAF.Client.SupressSlidingSession" version="1.0.0" targetFramework="net452" />
  <package id="log4net" version="2.0.5" targetFramework="net452" />
</packages>