<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Environment" value="UAT" />
    <add key="Connection" value="GBS0039180\GLDUAT01" />
    <add key="Database" value="LAF" />
    <add key="LAF_DisableAudit" value="false" />
    <add key ="LAFDataLoaderEmail" value ="LAFDataLoader@Lloyds.com"/>
    <add key ="LAFDataLoaderUID" value = "84452A5C-5B45-4BB1-BE88-9611A94C7521"/>



    <add key ="DA_UserGroup_CredDescription" value ="LAF_UserGroup"/>
    <add key ="LAFRole_CredDescription" value ="LAF_Role"/>
    <add key ="DA_CredValue" value ="DevolvedAdmin"/>

    <add key ="DA_UserGroupName_Prefix" value ="LAF DA_"/>
    <add key ="DA_UserGroupDescription_Prefix" value ="Devolved Admin Group for "/>

    <add key ="AuditIdentifierText1" value ="LAFBulkDataLoader Generated Update. Windows User = "/>
    <add key ="AuditIdentifierText2" value =". SR Number/change detail = "/>


    <add key ="sp_DeleteUserGroup" value ="[LAF].[csp_DeleteUserGroup]"/>

    <add key ="sp_InsertUserGroupMember" value ="[LAF].[csp_InsertUserGroupMember]"/>
    <add key ="sp_InsertUser" value ="[LAF].[csp_InsertUser]"/>
    <add key ="sp_Audit_InsertUser" value ="[csp_InsertAuditEntry_CreateUser]"/>
    <add key ="sp_DeleteCredentialValue" value ="[LAF].[csp_DeleteCredentialValue]"/>

    <add key ="sp_DeleteUserGroupCredentialValues" value ="[LAF].[csp_DeleteUserGroupCredentialValues]"/>

    <add key ="sp_DeleteUserGroupMemberFromUserGroup" value ="[LAF].[csp_DeleteUserGroupMembersFromUserGroup]"/>



  </appSettings>


  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.net>
    <defaultProxy useDefaultCredentials="true">
      <proxy usesystemdefault="True" proxyaddress="http://proxy.lloyds.net:8080" bypassonlocal="True" />
    </defaultProxy>
  </system.net>

  <system.serviceModel>
    <bindings>
      <ws2007HttpBinding>
        <binding name="WS2007HttpBinding_IAuditService">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" />
            <message clientCredentialType="Certificate" />
          </security>
        </binding>
        <binding name="WS2007HttpBinding_ISecurityTokenCache">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" />
            <message clientCredentialType="Certificate" />
          </security>
        </binding>
        <binding name="WS2007HttpBinding_ITokenReplayCache">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" />
            <message clientCredentialType="Certificate" />
          </security>
        </binding>


      </ws2007HttpBinding>
    </bindings>


    <behaviors>
      <endpointBehaviors>

        <behavior name="AuditServiceBehaviour">
          <clientCredentials>
            <clientCertificate x509FindType="FindBySubjectName" findValue="service.laf.uat" storeLocation="LocalMachine" storeName="My"/>
            <serviceCertificate>
              <authentication certificateValidationMode="PeerOrChainTrust" revocationMode="NoCheck"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
        <behavior name="SecurityTokenCacheServiceBehaviour">
          <clientCredentials>
            <clientCertificate x509FindType="FindBySubjectName" findValue="service.laf.uat" storeLocation="LocalMachine" storeName="My"/>
            <serviceCertificate>
              <authentication certificateValidationMode="PeerOrChainTrust" revocationMode="NoCheck"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>


      </endpointBehaviors>
    </behaviors>


    <client>
      <endpoint address="https://uatsecureservice.lloyds.com/AuditService.svc"
          binding="ws2007HttpBinding" bindingConfiguration="WS2007HttpBinding_IAuditService"
          contract="AuditService.IAuditService" name="WS2007HttpBinding_IAuditService" behaviorConfiguration="AuditServiceBehaviour"/>


    </client>

  </system.serviceModel>
  <connectionStrings>
    <add name="LAFRestricted" connectionString="Data Source=GBS0039180\GLDUAT01;Initial Catalog=LAF;Integrated Security = True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>